<h1>Login</h1>

<form method="post">
        <fieldset >
                <label for="username" class="col-2 control-label">Username: *</label>
                <input name="username" id="username" required />
        </fieldset>
        <fieldset >
                <label for="password" class="col-2 control-label">Password: *</label>
                <input name="password" id="password" type="password" required />
        </fieldset>
        <fieldset >
                <button class="btn-style">Login</button>
                <div class="SignIn">
                        <div>
                                <a href="/auth/google">
                                        <img src="/images/google-icon.svg" alt="google-logo">
                                        <span>Sign In</span>
                                </a>
                        </div>

                        <div>
                                <a href="/auth/facebook">
                                        <img src="/images/facebook-icon.svg" alt="facebook-logo">
                                        <span>Sign In</span>
                                </a>
                        </div>
                </div>
                <hr />
                Need an account? <a href="/auth/register" title="Register">Register</a>
                
        </fieldset>
</form>