<h1>Register</h1>

<form method="post">
        <fieldset >
                <label for="username" class="col-2 control-label">Username: *</label>
                <input name="username" id="username" required type="email" placeholder="email@email.com" />
        </fieldset>
        <fieldset >
                <label for="password" class="col-2 control-label">Password: *</label>
                <input name="password" id="password" type="password" required
                        pattern="(?=.*\d)(?=.*[a-z])(?=.*[A-Z]).{8,}" />
        </fieldset>
        <fieldset >
                <label for="confirm" class="col-2 control-label">Confirm: *</label>
                <input name="confirm" id="confirm" type="password" required
                        pattern="(?=.*\d)(?=.*[a-z])(?=.*[A-Z]).{8,}" />
        </fieldset>
        <fieldset >
                <button class="btn-style">Register</button>
                <hr />
                Already have an account? <a href="/auth/login" title="Login">Login</a>
        </fieldset>
</form>