<h1>{{title}}</h1>

<div class="home">
    <div class="img-holder">
        {{!-- <a
            href="https://www.freepik.com/free-vector/teamwork-concept-landing-page_5155720.htm#query=about&position=1&from_view=search&track=sph">Image
            by pikisuperstar</a> on Freepik --}}

        <img src="/images/about.jpg">
    </div>

    <div>
        <p>We're in the business of making great sales and service of cars. But we also work every day to apply and
            share our know-how in ways that benefit people, the community, and our planet in order to build a better
            tomorrow. The company came into operations on 9 November 2001 with only team of 10 talented people that had
            the vision of transforming the sales and service industry to provide best in class service to it's
            customers.
        </p>

        <p>
            With it's best in class customer service soon the team grew to a number of 100 employee's in less than 5
            years. Can't beleive this? even we can't.
        </p>

        <p>Whether you are purchasing your very first car or adding a rare vehicle to our collection, Carbase can help.
            Call or stop by, and please give one of our team members an opportunity to earn your business today.</p>
    </div>
</div>