<h1>Welcome to {{title}}</h1>
<hr>

<div class="home">
    <div class="img-holder">
        {{!-- <a href="https://www.freepik.com/free-vector/auto-detailing-abstract-concept_12085247.htm?query=car%20service#from_view=detail_alsolike">Image by vectorjuice</a> on Freepik --}}

        <img src="/images/car-service.jpg" alt="car-service">
    </div>
    <div>
        <h3>A Better Way To Get Serviced!...</h3>
        <p>We promise to do our utmost to deliver our professional service in a very personalized manner and we thank
            you for
            wanting to learn more about us.we strive to be the only auto repair and maintenance choice for each of our
            clients
            by creating long term relationships which have been earned through consistent delivery of outstanding
            service
            quality in an environment which promotes trust, fairness and respect. It is this dedication that
            differentiates us
            from our competitors as we continually strive to deliver an outstanding customer experience to each one of
            our
            satisfied customers</p>
    </div>
</div>

<hr>

<div class="home">

    <div>
        <h3>Services We Offer</h3>
<ul>
    <li>
        Alignments
    </li>
    <li>
        Brakes
    </li>
    <li>
        Diagnostics
    </li>
    <li>
        Oil Changes
    </li>
    <li>
        Suspension
    </li>
    <li>
        Tune Ups
    </li>
</ul>
    </div>

    <div class="img-holder">
        {{!-- <a href="https://www.freepik.com/free-vector/roadside-service-illustration_10782853.htm?query=roadside#from_view=detail_alsolike">Image by vectorjuice</a> on Freepik --}}
        <img  src="/images/services.jpg">
    </div>
</div>

