@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@500;700&family=Raleway:wght@500;700;900&family=Roboto:wght@500;700;900&display=swap');

*{

  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

h1,
h2,
h3,
h4,
h5 {
  font-family: 'Raleway', sans-serif !important;
  font-weight: 700;

}

p,
a,
li {
  font-family: 'Roboto', sans-serif !important;
  font-weight: 500;

}

.box{
  padding: 1rem;
}

.navbar-dark{
  background-color: #303F9F !important;
}