@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@500;700&family=Raleway:wght@500;700;900&family=Roboto:wght@500;700;900&display=swap');

* {

  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

h1,
h2,
h3,
h4,
h5,
th,
span {
  font-family: 'Raleway', sans-serif !important;
  font-weight: 700;

}

p,
a,
li {
  text-decoration: none;
  font-family: 'Roboto', sans-serif !important;
  font-weight: 500;

}

.box {
  padding: 1rem;
  min-height: 100vh;
}

.navbar-dark {
  background-color: #303F9F !important;
}

.navbar-brand {
  font-family: 'Raleway', sans-serif !important;
  font-size: 1.5rem;
  font-weight: 700;
}

.dropdown-menu {

  border: none;
  box-shadow: rgba(28, 28, 28, 0.2) 0px 2px 4px 0px;
  border-radius: 0.8rem;
  outline: none;

}

.dropdown-menu a:hover {
  background: #ccc;
}


.dropdown-menu a {
  padding: 0.5rem 1rem;
  color: #0E1111 !important;

}

label {
  min-width: 100px;
  margin: 8px 0;
}

input {
  border: none;
  box-shadow: rgba(28, 28, 28, 0.2) 0px 2px 4px 0px;
  border-radius: 2rem;
  padding: 3px 8px;
}

.btn-style {
  border-radius: 2rem;
  box-shadow: rgba(28, 28, 28, 0.2) 0px 2px 4px 0px;
  padding: 5px 10px;
  margin-top: 5px;
  margin-left: 250px;
  color: #fff;

  border: none;
  background-color: #FFC107;
}

td {
  cursor: pointer;
}

option,
select {
  border: none;
  box-shadow: rgba(28, 28, 28, 0.2) 0px 2px 4px 0px;
  border-radius: 2rem;
  padding: 3px 5px;
}

#message {
  text-transform: capitalize;
}

.alert-warning {
  
  border: none;
  border-radius: 1rem;
  background-color: #FFC107 !important;
  box-shadow: rgba(28, 28, 28, 0.2) 0px 2px 4px 0px;
  color: #fff;
}

.user-banner{
  /* display: inline; */
  display: block;
  /* padding: 0px 10px; */
  padding-left: 3px;
  padding-right: 3px;
  border-radius: 1rem;
  background-color: #FFC107 !important;
  box-shadow: rgba(28, 28, 28, 0.2) 0px 2px 4px 0px;
  color: #fff;
}

.google{
  margin: 5px;
  display: block;
  cursor: pointer;
  max-width: 20% !important;
  filter: drop-shadow(2px 2px 2px #ccc);
  margin-left: 250px;
}

div.SignIn div{

  display: flex;
  align-items: flex-start;
  justify-content: center;
  flex-direction: column;
  margin: 1rem;
}

div.SignIn div a{
  
  display: flex;
  align-items: center;
  justify-content: center;

}

div.SignIn div a img{
  width: 40px;
}

div.SignIn div span{
  min-width: 60px;
  margin-left: 0.5rem;
}

div.home{
  display: flex;
  align-items: center;
  justify-content: center;
}

div.home img{
  padding:0rem  4rem;
}

div.img-holder{
  height: 400px;
  
}

div.img-holder img{
  height: 100%;
  
}

@media screen and (max-width: 880px)  {

  div.home{
    flex-direction: column;
  }
  
}




@media 
only screen and (max-width: 880px)
  {

	/* Force table to not be like tables anymore */
	table, thead, tbody, th, td, tr { 
		display: block; 
	}
	
	/* Hide table headers (but not display: none;, for accessibility) */
	thead tr { 
		position: absolute;
		top: -9999px;
		left: -9999px;
	}
	
	tr { border: 1px solid #ccc; }
	
	td { 
		/* Behave  like a "row" */
		border: none;
		border-bottom: 1px solid #eee; 
		position: relative;
		padding-left: 50%; 
	}

  td:before { 
		/* Now like a table header */
		position: absolute;
		/* Top/left values mimic padding */
		top: 6px;
		left: 6px;
		width: 45%; 
		padding-right: 10px; 
		white-space: nowrap;
	}
}